{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{% trans 'Fleet Activity' %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <br>
        {% include "bfat/menu.html" %}
        <h2>{% trans "Recent" %}</h2>
        {% if msg %}
            <div class="alert alert-{{ msg.0 }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    {% if msg.0 != 'warning' %}<h4>{% if msg.0 == 'danger' %}Oh No!{% elif msg.0 == 'success' %}Success!{% endif %}</h4>{% endif %}
                    <p>{{ msg.1 }}</p>
                </div>
        {% endif %}
        <ul class="nav nav-tabs">
             <li class="active"><a data-toggle="tab" href="#fats">{{ term }}s</a></li>
            <li><a data-toggle="tab" href="#fatlinks">{{ term }}{% trans "Links" %}</a></li>
        </ul>
        <div class="tab-content">
            <div id="fats" class="tab-pane fade in active panel-default">
                <div class="panel-body">
                    <h4> Your Most Recent {{ term }}s </h4>
                    <ul class="nav nav-pills">
                        {% for char in fats %}
                            {% if forloop.first %}
                                <li class="active"><a data-toggle="tab" href="#{{ char.0|cut:" " }}"><img class="img-circle" src="https://imageserver.eveonline.com/Character/{{ char|last }}_32.jpg"/>  {{ char.0 }}</a></li>
                            {% else %}
                                <li><a data-toggle="tab" href="#{{ char.0|cut:" " }}"><img class="img-circle" src="https://imageserver.eveonline.com/Character/{{ char|last }}_32.jpg"/>  {{ char.0 }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for char in fats %}
                            {% if forloop.first %}
                                <div id="{{ char.0|cut:" " }}" class="tab-pane fade in active panel-default">
                            {% else %}
                                <div id="{{ char.0|cut:" " }}" class="tab-pane fade active panel-default">
                            {% endif %}
                            <div class="panel-body">
                            {% if char|slice:"1:-1"|length > 0 %}
                                <table class="table">
                                    <thead>
                                        <th>Fleet Name</th>
                                        <th>Location</th>
                                        <th>Ship</th>
                                        <th>EVE Time</th>
                                    </thead>
                                    <tbody>
                                        {% for fat in char|slice:"1:" %}
                                            <tr>
                                                <td>{% if fat.fatlink.fleet %}{{ fat.fatlink.fleet }}{% else %}{{ fat.fatlink.hash }}{% endif %}</td>
                                                <td>{{ fat.system }}</td>
                                                <td>{{ fat.shiptype }}</td>
                                                <td>{{ fat.fatlink.fattime }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    <p>No {{ term }}s for {{ char.0 }}</p>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="fatlinks" class="tab-panel fade active panel-default">
                <div class="panel-body">
                    <h4> Most Recent {{ term }} Links (limit 10)</h4>
                    <table class="table">
                        <thead>
                            <th>Fleet Name</th>
                            <th>Creator</th>
                            <th>EVE Time</th>
                            <th>Utils</th>
                        </thead>
                        <tbody>
                            {% for link in links %}
                                <tr>
                                    <td>{% if link.fleet %}{{ link.fleet }}{% else %}{{ link.hash }}{% endif %}</td>
                                    <td>{{ link.creator.profile.main_character.character_name }}</td>
                                    <td>{{ link.fattime }}</td>
                                    <td>{% if perms.bfat.edit_fatlink %}<a class="btn btn-info" href="{% url 'bfat:link_edit' link.hash %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


{% endblock %}