{% extends "allianceauth/base.html" %}
{% load i18n %}
{% block page_title %}{{ character }} {% trans "Statistics" %}{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <div class="col-lg-12">
        <br>
        {% include 'bfat/menu.html' %}
        <h2>{{ character }} {% trans "Statistics" %}</h2>
        <h4>{{ month|month }} {{ year }}</h4>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#graphs">Graphs</a></li>
            <li><a data-toggle="tab" href="#rawdata">Raw Data</a></li>
        </ul>
        <div class="tab-content">
            <div id="graphs" class="tab-pane fade in active panel-default">
                <div class="panel-body">
                    <h4>{{ term }}s by Ship Type</h4>
                    <canvas id="pie-ship" width="400" height="400"></canvas>
                    <script>
                        var shipPieChart = new Chart(document.getElementById("pie-ship"), {
                            type: "pie",
                            data: {
                                datasets: [{
                                    data: {{ data_ship_type.1|safe }},
                                    backgroundColor: {{ data_ship_type.2|safe }}
                                }],
                                labels: {{ data_ship_type.0|safe }}
                            },
                            options: {
                                responsive: false
                            }
                        })
                    </script>

                    <h4>{{ term }}s by Time of Day</h4>
                    <canvas width="800" height="500" id="line-time"></canvas>
                    <script>
                        var {{ term }}LineChart = new Chart(document.getElementById("line-time"),{
                            type: "line",
                            data: {
                                datasets: [{
                                    label: "# of {{ term }}s",
                                    data: {{ data_time.1|safe }},
                                    backgroundColor: {{ data_time.2|safe }}
                                }],
                                labels: {{ data_time.0|safe }}
                            },
                            options: {
                                responsive: false
                            }
                        })
                    </script>

                </div>
            </div>
            <div id="rawdata" class="tab-panel fade active panel-default">
                <div class="panel-body">
                    <h4> {{ term }}s for {{ character }}</h4>
                    <table class="table" id="raw-data">
                        <thead>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Ship</th>
                            <th>EVE Time</th>
                        </thead>
                        <tbody>
                        {% for fat in fats %}
                            <tr>
                                <td>{% if fat.fatlink.fleet %}{{ fat.fatlink.fleet }}{% else %}{{ fat.fatlink.hash }}{% endif %}</td>
                                <td>{{ fat.system }}</td>
                                <td>{{ fat.shiptype }}</td>
                                <td>{{ fat.fatlink.fattime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js" integrity="sha256-l6SU+rVSlkyIcMsqjy0mb6ne/qPpYotdVSFd9vLmV1A=" crossorigin="anonymous"></script>
{% endblock %}
{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
{% endblock %}
{% block extra_script %}
    $.fn.dataTable.moment = function ( format, locale ) {
        var types = $.fn.dataTable.ext.type;

        // Add type detection
        types.detect.unshift( function ( d ) {
            return moment( d, format, locale, true ).isValid() ?
                'moment-'+format :
                null;
        } );

        // Add sorting method - use an integer for the sorting
        types.order[ 'moment-'+format+'-pre' ] = function ( d ) {
            return moment( d, format, locale, true ).unix();
        };
    };

    $(document).ready(function(){
        $.fn.dataTable.moment( 'MMM. D, YYYY, hh:mm a' );

        $('#raw-data').DataTable();
    });
{% endblock %}
