{% load staticfiles %}
{% load i18n %}
{% load navactive %}

<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'bfat:bfat_view' %}">{% trans "Better FAT" %}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="{% navactive request 'bfat_stats bfat_corp_stats bfat_char_stats bfat_ally_stats' %}">
                <a href="{% url 'bfat:stats' %}">{% trans "Statistics" %}</a>
            </li>
            <li class="{% navactive request 'bfat:links bfat:link_edit' %}">
                <a href="{% url 'bfat:links' %}">{{ term }} {% trans "Links" %}</a>
            </li>
            {% if perms.bfat.manage_bfat or perms.bfat.add_fatlink %}
                <li class="{% navactive request 'bfat:link_add' %}">
                    <a href="{% url 'bfat:link_add' %}">Add {{ term }}Link</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>
